body{
user-drag: none; 
user-select: none;
-moz-user-select: none;
-webkit-user-drag: none;
-webkit-user-select: none;
-ms-user-select: none;
width:100%;
height:100%;
}
.button {
  background: #6e591a;
  background-image: -webkit-linear-gradient(top, #6e591a, #574b1b);
  background-image: -moz-linear-gradient(top, #6e591a, #574b1b);
  background-image: -ms-linear-gradient(top, #6e591a, #574b1b);
  background-image: -o-linear-gradient(top, #6e591a, #574b1b);
  background-image: linear-gradient(to bottom, #6e591a, #574b1b);
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  font-family: Arial;
  color: #fafafa;
  font-size: 18px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.button:hover {
  background: #5c4e26;
  background-image: -webkit-linear-gradient(top, #5c4e26, #42420e);
  background-image: -moz-linear-gradient(top, #5c4e26, #42420e);
  background-image: -ms-linear-gradient(top, #5c4e26, #42420e);
  background-image: -o-linear-gradient(top, #5c4e26, #42420e);
  background-image: linear-gradient(to bottom, #5c4e26, #42420e);
  text-decoration: none;
}
.button:active {
	position:relative;
	top:1px;
}

span {
	font-weight:bold;
	color:#13488F;
	font-size:20px;
}

#charName {
	font-weight:bold;
	font-size:30px;
	color:black;
}

#gold {
color:#13488F;
font-size:50px;
font-family:courier new, courier, monospace;
font-weight:bold;
}

h2 {
color: rgba(0,0,0,.8);
text-shadow: rgba(0,0,0,.2) 2px 6px 5px,rgba(255,255,255,.4) 0 -4px 30px;
text-decoration:underline;
}

h1 {
color: rgba(0,0,0,1);
text-shadow: rgba(0,0,0,.2) 2px 6px 5px,rgba(255,255,255,.4) 0 -4px 30px;
}


.header {
	width:100%;
	text-align:center;
}

.dummy {
	max-height:200px;
	max-width:200px;
}

.character {
	margin:0 auto;
	width:40%;
	text-align:center;
}

.upgrades {
	float:left; 
	width:30%;
}

.mentors {
	float:right; 
	width:30%;
}

#life {
  position: relative;
  width: 30%;
  height: 30px;
  background-color: #DC7633;
  text-align:center;
  margin:0 auto;
}

#lifeBar {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #833030;
}

*:focus {
outline: 0;
outline: none;
}